body {
    background: #121212;
  }

div {
    color: gold;
    height: 30px;
}
body{
    padding: 0;
    margin:0;
    height: auto;
}

.rock{
    background-image: url("../sprites/rock-sprite.jpg");
    background-size: cover;
    position: absolute;
    height: 50px;
    width: 50px;
}
.wall{
    background-image: url("../sprites/wall-sprite.jpg");
    background-size: cover;
    position: absolute;
    width: 50px;
    height: 50px;
}
.treasure{
    background: gold;
    background-size: cover;
    position: absolute;
    width: 50px;
    height: 50px;
}

.water{
    background: rgb(72, 72, 214);
    position: absolute;
    width: 50px;
    height: 50px;
}

.hole{
    background:black;
    position: absolute;
    width: 50px;
    height: 50px;
}

.enemy{
    background-image: url('../sprites/scrub-sprite1.jpg');
    background-size: cover;
    position: absolute;
    width: 50px;
    height: 50px;
}

.sentinel{
    background-image: url('../sprites/sentinel-sprite1.jpg');
    background-size: cover;
    position: absolute;
    width: 50px;
    height: 50px;
}

.shadow-Nelda{
    background: pink;
    background-size: cover;
    position: absolute;
    width: 50px;
    height: 50px;
} 

.nelda{
    background: rgb(82, 1, 114);
    background-size: cover;
    position: absolute;
    width: 50px;
    height: 50px;
} 

.link{
    background-image: url("../sprites/ltlink-sprite.jpg");
    position: absolute;
    height: 50px;
    width: 50px;
}

#give-up {
    margin: 0 auto;
    display: block;
    font-size: 20px;
    left: 150px;
    color: rgb(41, 179, 70);
    background: rgba(50,50,50,.8);
    border-radius: 10%;
    position: absolute;
}

#start-game{
    margin: 0 auto;
    display: block;
    font-size: 50px;
    text-align: center;
    color: gold;
    background: rgba(50,50,50,.8);
    border-radius: 50%;
}

#menu {
    border: 2px solid white;
    border-radius: 10%;
    background-color: darkblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 485px;
    height: 120px;
    padding: 10px 0 0 10px;
}

#old-man1{
    background-image: url('../sprites/old-man1.jpg');
    background-size: cover;
    position: absolute;
    height: 50px;
    width: 50px;
}

#old-man2{
    background-image: url('../sprites/old-man2.jpg');
    background-size: cover;
    position: absolute;
    height: 50px;
    width: 50px;
}

#entrance{
    background: black;
    height: 50px;
    width: 50px;
    position: absolute;
}

.ustairs{
    background: url("../sprites/ustairs-sprite.jpg");
    background-size: cover;
    height: 50px;
    width: 50px;
    position: absolute;
}

#ustairs{
    background: url("../sprites/ustairs-sprite.jpg");
    background-size: cover;
    height: 50px;
    width: 50px;
    position: absolute;
}


.dstairs{
    background-image: url("../sprites/dstairs-sprite.jpg");
    background-size: cover;
    height: 50px;
    width: 50px;
    position: absolute;
}

#dstairs{
    background-image: url("../sprites/dstairs-sprite.jpg");
    background-size: cover;
    height: 50px;
    width: 50px;
    position: absolute;
}

#blue-door {
    background: darkblue;
    background-size: cover;
    height: 50px;
    width: 50px;
    position: absolute;
}

#red-door {
    background: darkred;
    background-size: cover;
    height: 50px;
    width: 50px;
    position: absolute;  
}

#ltlink{
    background-image: url("../sprites/ltlink-sprite.jpg");
    position: absolute;
    height: 50px;
    width: 50px;
}
#uplink{
    background-image: url("../sprites/uplink-sprite.jpg");
    position: absolute;
    height: 50px;
    width: 50px;
}

#rtlink{
    background-image: url("../sprites/rtlink-sprite.jpg");
    position: absolute;
    height: 50px;
    width: 50px;
}

#dnlink{
    background-image: url("../sprites/dnlink-sprite.jpg");
    position: absolute;
    height: 50px;
    width: 50px;
}

#board {
    display: grid;
    position: relative;
    background: tan;
    height: 350px;
    width: 500px;
    padding: 0;
    margin: 0;
    border: 1px black solid;
}


#title-page{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: green;
    visibility: visible;
    text-align: center;
 }
 
#grave{
    background-image: url("../sprites/grave-sprite.jpg");
    background-size: cover;
    position: absolute;
    height: 50px;
    width: 50px;
}
 
#words{
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    text-align: left;
}

#secret{
    display: grid;
    position: relative;
    background:black;
    height: 350px;
    width: 500px;
    padding: 0;
    margin: 0;
    border: 1px black solid;
}

#faerie{
    background: orange;
    display: none;
    position: absolute;
    height: 50px;
    width: 50px;
}